# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
db.sqlite3

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# macOS and Linux system files
.DS_Store
*.swp

# Custom directory
_geotagged_images/
_non_geotagged_images/
_geotagged_timestamped_images/
._geotagged_images/
._geotagged_timestamped_images/
geotagged_images/
_geotagged_timestamped_images.zip
_geotagged_timestamped_images
